[user]
# Please adapt and uncomment the following lines:
	name = Rick Mather
	email = 
[core]
	editor = vim
[alias]
	co = checkout
	cod = checkout develop
	cb = checkout -b
	br = branch
	ci = commit
	st = status
	ps = push
	pish = push
	pl = pull
	aa = "!git add --all && git status" 
	unstage = reset HEAD -- 
	un = reset HEAD -- 
	dc = checkout -- # discard working changes
	last = log -1 HEAD
	visual = !gitk
	merged = branch --merged
	mergedr = branch -r --merged
	unmerged = branch --no-merged
	unmergedr = branch -r --no-merged
	purge = "!git branch --merged master | grep -v '^[ *]*master$' | xargs git branch -d"

	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	hidden = "!git ls-files -v|grep '^h'"

	filelog = log -u
	fl = log -u
	flog = log -u

	files = diff-tree --no-commit-id --name-only -r 

	# short log listing of commits and hashes
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate

	# list commits with changed files
	lf = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

	# detailed log with branching / merging graphs
	lg = log --color --graph --pretty=format:"%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit

	lflog = "!git lf -1"
	lf = "!git lf -1"
	dlc = diff --cached HEAD^

[core]
	autocrlf = true
	excludesfile = C:\\Users\\rick.mather\\Documents\\gitignore_global.txt
[push]
	default = current
[diff]
	tool = bc3
[difftool "bc3"]
	path = c:/Program Files/Beyond Compare 4/bcomp.exe
[merge]
	tool = bc3
[mergetool "bc3"]
	path = c:/Program Files/Beyond Compare 4/bcomp.exe
