[user]
	name = Rick Mather
	email = rmather@rippleffect.com 
[core]
	editor = vim
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	co = checkout
	cb = checkout -b
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	un = reset HEAD --
	mergetool = C:\\Program Files (x86)\\KDiff3\\kdiff3.exe
[merge]
	tool = kdiff3
[mergetool]
	keepBackup = false
[mergetool "kdiff3"]
	cmd = \"C:\\\\Program Files (x86)\\\\KDiff3\\\\kdiff3\" $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = false
[push]
	default = simple
